efel
nbformat==4.4.0
quantities==0.12.4
asciiplotlib
requests==2.22.0
multiprocess
pebble
numpy==1.17.2
scipy==1.3.1
dask==2.5.2
natsort==7.0.1
elephant==0.4.1
tables
deap
allensdk==0.16.3
seaborn
frozendict==1.2
distributed==2.5.2
neo==0.5.2
lxml==4.4.1
numba==0.45.1
matplotlib==3.1.1
pip==19.2.3
maps==5.1.1
plotly==4.5.2
tqdm==4.48.2
lmfit==1.0.0
cython
pandas==1.1.0
nbconvert==5.6.0
backports.statistics==0.1.0
beautifulsoup4==4.9.1
bmtk==0.0.7
scikit_learn==0.23.2
git+https://github.com/scidash/sciunit@dev
