matplotlib>=2.0
neo>=0.5.2
elephant==0.4.1
execnet
backports.tempfile
lmfit
numba
dask[complete]
deap
brian2
efel
tabulate
nbimporter
allensdk @ git+https://github.com/fun-zoological-computing/AllenSDK.git
sciunit @ git+https://github.com/scidash/sciunit@dev#egg=sciunit-9999